Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facilis? Eum esse, quas corrupti voluptatem qui autem dolores est iusto fugiat rerum labore, accusantium inventore obcaecati adipisci eligendi. Veritatis odit mollitia quas ipsa magnam, rem qui odio voluptate vero fuga praesentium perferendis nemo provident velit minus blanditiis distinctio animi accusantium, cupiditate expedita inventore alias quod? Ab expedita adipisci nobis in dolorum facere. Reprehenderit, recusandae quasi, est mollitia nobis magni dolor cupiditate expedita nihil laboriosam tempore veritatis id esse fugit animi nam alias exercitationem totam reiciendis quos velit. Dolores at unde, ullam laboriosam quam dignissimos doloribus consectetur magni non dolor ea?

// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBG_VEiw62tJ4HWyGFq6DWAzgE10Qfemns",
  authDomain: "skripsi-dwm.firebaseapp.com",
  projectId: "skripsi-dwm",
  storageBucket: "skripsi-dwm.firebasestorage.app",
  messagingSenderId: "60592344866",
  appId: "1:60592344866:web:e1a08b5a948e7f32475f7b",
  measurementId: "G-L08RB6YHZ6"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);


vapid_public_key = BBvj-dm7QCoTBQjuxh0ZvyczRJf8-cUB_LAmM6k52oJlVgBRH970RO43J3Fa_tFskzfd14uIfRiadjASIlR35QM